header {
  /* header-background-mobile */

position: absolute;
width: 375px;
height: 718px;
left: 500px;
top: 0px;

/* Neutrals/N0 */

background: #FFFFFF;
}

section {
/* Headline */

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 114px 24px;
gap: 12px;

position: absolute;
width: 375px;
height: 718px;
left: calc(50% - 375px/2);
top: 92px;
}

.background-image {
  background-image: url("header-shapes mobile@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 375px;
  height: 846px;
  left: 0;
  top: 40px;
}

.navbar {
  position: absolute;
left: 0px;
right: 0px;
top: 44px;
bottom: 0px;
}

.navbar .logo {
  /* My Logo */

width: 96px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
text-align: center;

/* Primary/B400 */

color: #6070FF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

h1 {
  /* Primary Text */

width: 327px;
height: 150px;

/* Header / 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
/* or 130% */

display: flex;
align-items: center;

/* Neutrals/N800 */

color: #172B4D;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

p {
 /* Primary Text */

width: 327px;
height: 126px;

/* Body / 2 */
position : absolute;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

/* Neutrals/N600 */

color: #344563;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

top: 300px;
}

button {
 /* Buttons */

width: 309px;
height: 24px;

/* Theme 1 / Button Normal */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

/* Theme 1 / Primary Colors 2 */

color: #6070FF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

/* Button / Enable */

box-sizing: border-box;

/* Auto layout */

flex-direction: row;
padding: 12px;
gap: 10px;

position: absolute;
width: 193px;
height: 48px;

/* Theme 1 / Neutrals 11 */

background: #FFFFFF;
/* Theme 1 / Primary Colors 3 */

border: 1px solid white;
border-radius: 8px;
left : 1%;

top: 470px;
}

.twitter {
 /* Vector */

position: absolute;
left: 6.4%;
right: 88.27%;
top: 55.81%;
bottom: 18.88%;

/* Neutrals/N400 */

background: white;

}

.linkedin {
  position: absolute;
left: 16.47%;
right: 67.2%;
top: 55.81%;
bottom: 19.21%;

/* Neutrals/N400 */

background: white;
}

.medium {
  /* Vector */

position: absolute;
left: 27.47%;
right: 67.2%;
top: 55.96%;
bottom: 19.21%;

/* Neutrals/N400 */

background: white;
}

.github {
  /* Vector */

position: absolute;
left: 38.13%;
right: 57.07%;
top: 55.81%;
bottom: 18.87%;

/* Neutrals/N400 */

background: white;
}

.angellist {
/* Vector */

position: absolute;
left: 48%;
right: 48.22%;
top: 55.81%;
bottom: 18.87%;

/* Neutrals/N400 */

background: white;
}
