header {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 500px;
  top: 0;
  background: #fff;
}

@media screen and (min-width: 480px) {
  header {
    position: absolute;
    width: 1400px;
    height: 916px;
    left: 500px;
    top: 0;
    background: #fff;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 718px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

@media screen and (min-width: 480px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 114px 24px;
    gap: 12px;
    position: absolute;
    width: 1400px;
    height: 916px;
    left: calc(30% - 375px / 2);
    top: 142px;
  }
}

.background-image {
  background-image: url("header-shapes mobile@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 375px;
  height: 846px;
  left: 20;
  top: 40px;
}

@media screen and (min-width: 480px) {
  .background-image {
    background-image: url("Header bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 1400px;
    height: 916px;
    top: -10px;
    left: calc(-2% - 375px / 2);
  }
}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
}

.navbar .logo {
  /* My Logo */

  width: 96px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.container1 {
  display: none;
  justify-content: end;
  align-items: center;
  height: 10%;
  position: absolute;
  left: 1000px;
  width: 300px;
}

@media screen and (min-width: 480px) {
  .container1 {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10%;
    position: absolute;
    left: 1000px;
    width: 300px;
  }
}

.Portoflio {
  width: 63px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  left: 20px;
}

.About {
  width: 46px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  left: 135px;
}

.Contact {
  width: 62px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  left: 220px;
}

.material-symbols-outlined {
  display: flex;
}

@media screen and (min-width: 480px) {
  .material-symbols-outlined {
    display: none;
    color: white;
  }
}

h1 {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (min-width: 480px) {
  h1 {
    color: #172b4d;
    width: 343px;
    height: 150px;
  }
}

p {
  width: 327px;
  height: 126px;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  top: 300px;
}

@media screen and (min-width: 480px) {
  p {
    position: absolute;
    width: 880px;
    height: 98px;
  }
}

button {
  width: 309px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  position: absolute;
  background: #fff;
  border: 1px solid white;
  border-radius: 8px;
  left: 1%;
  top: 480px;
}

@media screen and (min-width: 480px) {
  button {
    top: 390px;
  }
}

.twitter {
  /* Vector */

  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 55.81%;
  bottom: 18.88%;

  /* Neutrals/N400 */

  background: white;
}

@media screen and (min-width: 480px) {
  .twitter {
    left: 2.4%;
    top: 440px;
  }
}

.linkedin {
  position: absolute;
  left: 16.47%;
  right: 67.2%;
  top: 55.81%;
  bottom: 19.21%;

  /* Neutrals/N400 */

  background: white;
}

@media screen and (min-width: 480px) {
  .linkedin {
    left: 6.4%;
    top: 440px;
  }
}

.medium {
  /* Vector */

  position: absolute;
  left: 27.47%;
  right: 67.2%;
  top: 55.96%;
  bottom: 19.21%;

  /* Neutrals/N400 */

  background: white;
}

@media screen and (min-width: 480px) {
  .medium {
    left: 10.4%;
    top: 440px;
  }
}

.github {
  /* Vector */

  position: absolute;
  left: 38.13%;
  right: 57.07%;
  top: 55.81%;
  bottom: 18.87%;

  /* Neutrals/N400 */

  background: white;
}

@media screen and (min-width: 480px) {
  .github {
    left: 14.4%;
    top: 440px;
  }
}

.angellist {
  /* Vector */

  position: absolute;
  left: 48%;
  right: 48.22%;
  top: 55.81%;
  bottom: 18.87%;

  /* Neutrals/N400 */

  background: white;
}

@media screen and (min-width: 480px) {
  .angellist {
    left: 18.4%;
    top: 440px;
  }
}
